.back {
  margin-top: 25px;
  margin-bottom: 32px;
  text-transform: uppercase;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
}

.arrow {
  margin-right: 12px;
}

.character {
  &__info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    height: 300px;
    width: 300px;
    border: 5px solid #F2F2F7;
    border-radius: 100%;
  }

  &__name {
    display: flex;
    justify-content: center;
    margin: 16px 0 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #081F32
  }

  &__text-title {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #8E8E93;
    justify-content: center;
  }

  &-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 412px;
    height: 64px;
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  }
}



h4 {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #081F32;
}

p {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6E798C;
}