.characters {
  max-width: 1020px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center
}

.characters__list {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.characters__filter {
  width: 100%;
}

.characters__item {
  box-sizing: border-box;
  width: 240px;
  /* height: 244px; */
  margin-bottom: 18px;
  background: #FFFFFF;
  /* 2 dp */

  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.characters__image {
  height: 168px;
  width: 240px;
  background-position: center;
}

.characters__text {
  margin: 0 16px;
}

.characters__text-species {
  margin-bottom: 12px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

h3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin: 10px 0 1px;
}

.characters__input {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100%;
  height: 66px;
  padding: 0 50px;
  font-size: 16px;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url('../../../public/img/Search.svg') center / contain no-repeat;
}

